body {
    font: 18px arial;
    background: aliceblue;
  }
  
  #gifImages {
    width: auto;
  }
  
  .gif-box {
    float: left;
    padding: 25px;
    clear: both;
  }
  
  form {
    float: right;
    width: 40%;
    padding: 15px;
    clear: both;
  }

  

  
  